@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html,body{
    font-family: 'Alata';
}

.header{
  object-fit: contain;
  background-image: url(../img/Bitmap.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 650px;
}
.container{
    max-width: 1170px;
    padding: 0 30px;
    margin: 0  auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 45px;
}
.logo{
    height: 30px;
}
.nav-list{
    display: flex;
    align-items: center;
    column-gap: 30px;
    
}
.nav-button{
    display: none;
}
.nav__link{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    position: relative;
}

.nav__link::before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 2px;
    bottom: -10px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s linear;
}
.nav__link:hover::before{
    opacity: 1;
}

.header-title{
    margin-top: 82px;

    font-weight: 300;
    font-size: 72px;
    line-height: 0.97;
    max-width: 650px;

    border: 2px solid #FFFFFF;
    padding: 40px;

    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

/* Interactive */
.interactive {
    margin-top: 160px;
    margin-bottom: 180px;
}
.iteractive-content {
    position: relative;
}
.iteractive-img {
    height: 500px;
    width: 731px;
}
.interactive-card {
    position: absolute;
    top: 183px;
    width: 541px;
    height: 317px;
    left: 586px;
    background-color: #fff;
    z-index: 5;

}

.interactive-card__content{
    padding: 96px 16px 0px 78px;
}
.interactive-card__title {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 1;
    /* or 100% */

    text-transform: uppercase;
    margin-bottom: 25px;

    color: #000000;
}
.interactive-card__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.67;
    /* or 167% */


    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.interactive__container{
    max-width: 1110px;
    margin: 0 auto;
}


/* Creating */

.section{
    margin-top: 100px;
    color: #000000;
    margin: 110px 0;
}
.creations {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.creations-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.creations-title{
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-size: 48px;
    line-height: 1;
   

    text-transform: uppercase;
}

.creations-btn{
    padding: 13px 43px;
    border: 1px solid #000000;


    font-size: 14px;
    text-transform: uppercase;
    color: #000000;

    transition: all 0.2s ease-in;
}

.creations-btn:hover{
    background-color: #000000;
    color: #fff;
}
.creation {
    position: relative;
    transition:  opacity 0.5s ease-in;
    transition: color 0.5s linear;
}

.creation:hover{
    opacity: 0.5;
}

.creation:hover .creation__link{
  color: #592670;
}

.creation__img{
    width: 100%;
    object-fit: cover;
}
.creation__link {
    position: absolute;
    z-index: 9;
    left: 40px;
    top: 90%;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    /* or 100% */

    min-width: 79px;

    text-transform: uppercase;

    color: #FFFFFF;
}

/* Footer*/
.footer{
    background-color: #000000;
    padding: 50px 0;
    color: #fff;
}
.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;

}


.footer-nav-menu{
    margin-top: 40px;
    display: flex;
    column-gap:30px;
 
}
.footer-menu__link{
    position: relative;
}
.footer-menu__link::before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 2px;
    bottom: -10px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s linear;
}
.footer-menu__link:hover::before{
    opacity: 1;
}

.footer-copyrigth-social{
    display: flex;
    column-gap: 15px;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.footer-copyrigth-social__link{
    position: relative;
}
.footer-copyrigth-social__link::before {
    position: absolute;
    content: ' ';
    width: 24px;
    height: 2px;
    bottom: -10px;
    left: 1px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s linear;
}
.footer-copyrigth-social__link:hover::before{
    opacity: 1;
} */


.footer-copyrigth__text{
    margin-top: 40px;
}

.footer-menu__link{
    color: #fff;
}